<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>LUBioVision</title>
</head>


<style> 
        .border-bottom-color2 {
            border-bottom: 7px solid#12691f;
        }

        .border-top-color2 {
            border-top: 2px solid #12691f;
            ;
        }
        
.container .gif img  {
      display: block;
      margin-left: 10px;  
       width: 100%; 
       height: 100%; 
      border:2px solid #12691f;
    }

@media (max-width: 600px) {
  .container .gif img {
    display: block;
    margin-top: 6px;
    margin-left: 0px;  
       width: 100%; 
       height: 100%; 
      border:2px solid #12691f;
}
    }

</style>


<body>
    <div>
      <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
          <img class="logo" src="\static\logo.jpeg" style="margin-left: 110px; width: 180px; height: 70px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            style="margin-left: 10px; border-radius: 0px; border-color: #ffffff;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="margin-left: 48%;" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/generate">Generate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #02c33c;" href="/usermanual"><strong>User Manual</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

<div class="container">

    <div style="padding: 10px;">
        <div class="row">
            <p class="text-lg fs-1" style="color: #12691f;">
          
                <strong>How To Use ?</strong></br>
            </p>
            <p style="font-size: large;">This application is designed to melanoma skin cancer image with explainable
                heat maps. In this user manual, will explain how to use the web application in step by step .</p>
        </div>
        </br>
    
        <div class="row">
            <div class="col-sm" style="text-align: justify;">
                <h2>STEP 01- Edit & Select the skin image</h2>
                To use the application, the first step is to upload the skin image.Before the uploading image
                image if you need edit that , use image editer by checking check box. After the editing , you
                can save that image and upload it again for prediction
                ( File formats: .jpeg .jpg, .png )
            </div>
            <div class="col-sm">
              <div class="gif">
                <img class="logo" src="\static\step1.gif"
               >
              </div>               
            </div>
        </div>
         </br>
        <div class="row">
            <div class="col-sm" style="text-align: justify;">
                <h2>STEP 02- Choose the Model</h2>
                        After the successfully uploading image, choose AI model which you are going to use to
                        predction.(Deafult use CNN model)
                        </br></br>
                        <strong>CNN Model : Convolutional Neural Networks (Xception model)</strong>
                        </br>
                        <strong>VIT Model : Vision Transfomer (Salient Mask-Guided Vision Transformer)</strong>
            </div>
            <div class="col-sm">
              <div class="gif">
                <img class="logo" src="\static\step1.gif"
               >
              </div>    
            </div>
        </div>
    </br>
    <div class="row">
        <div class="col-sm" style="text-align: justify;">
            <h2>STEP 03- Generate the prediction with Heat maps</h2>
                        Click prediction button and wait for the model results. As the model result , you can see
                        predicted skin cancer and generated heatmaps with prediction accuracy.
                        (To go back click 'Clear' button and try new skin image)
                        </br>
        </div>
        <div class="col-sm">
          <div class="gif">
            <img class="logo" src="\static\step1.gif"
           >
          </div>    
        </div>
    </div>
    </br>
    <div class="row">
    <div class="col-sm" style="text-align: justify;">
        <h2>STEP 04- Download the results report</h2>
        Finally,Can generate and download the medical report (PDF) with dermatologist feedbacks.
        </br></br>
    </div>
    <div class="col-sm">
      <div class="gif">
        <img class="logo" src="\static\step1.gif"
       >
      </div>    
    </div>
    </div>
    <br>
    <br>

    </div>

   

</div>










    </div>

  </br></br>
  <footer id="main-footer" class="border-top-color2">
      <div style="text-align: center;">
          </br>
          <p style="font-size: xx-small;">Copyright &copy; 2023 - LU bio Vision - All Rights Reserved
          </p>
      </div>
  </footer>
</body>

</html>